body {
	text-align: center;
}

.change-frequency {
	display: block;
	margin: 10px 0;
}

input[type=range] {
	-webkit-appearance: none;
	appearance: none;
	background: #aaa;
	width: 250px;
	height: 10px;
}

::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #111;
	width: 10px;
	height: 20px;
}

.btn-toggle-sound {
	width: 10em;
	padding: 10px;
	border: 0;
	font-size: 2.6rem;
	font-size: 26px;
}

.btn-toggle-sound-Play {
	background: #01ee70;
}

.btn-toggle-sound-Stop {
	background: #ff4136;
}
